<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.603724632036-jvt7hfcdejg5gev3ho1o9552eg04vkf6</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ScoreFont.ttf</string>
		<string>ScoreFontBold.ttf</string>
		<string>SFUIText-Bold.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>avenir.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
